.navbar-brand > img
{
	width:100%;
	max-width:260px;
}

.nav-link {
	padding-right:15px !important;
	padding-left:15px !important;
}

.nav-link:hover {
    color: white !important;
	background:#00761c !important;
	border-radius:10px;
}
	
@media (max-width: 991px) 
{
	.nav-item {
		border-bottom:1px solid #fff !important;
		background:rgba(0,0,0,.1);
		border-radius:5px;
	}
	
	.navbar-nav {
		border: 1px solid rgba(0,0,0,.5);
		border-radius:5px;
	}
	
	.nav-link:hover {
		border-radius:5px;
	}
	
}

@media (min-width: 768px) 
{
	.footer-medsos
	{
		text-align:right;
	}
}


.text-limit
{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}